<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/escritorio.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>
        .input-admin{
            display: flex;
            flex-direction: row-reverse;
            align-content: center;
            justify-content: space-around;
        }
        a{
            text-decoration: none;
            color: black;
        }



    </style>
</head>
<body>
    <div class="text">
        <p>Bienvenido, {{ current_user.nombreCompleto }}</p>
        <div class="navbtn">
            <a class="btn-floating btn-large waves-effect waves-light color-back"><i class="material-icons">+</i></a>
            <div class="opciones">
                <a class="waves-effect waves-light btn-large color-back">Inicio</a>
                <a class="waves-effect waves-light btn-large color-back">Agregar</a>
                <a class="waves-effect waves-light btn-large color-back">usuario</a>
                <a class="waves-effect waves-light btn-large color-back" href="{{ url_for('logout') }}">Cerrar</a>
            </div>
        </div>
    </div>
    
    <div class="input-admin">
        <div>
            <input style="width: 180px; align-items: center;" id="schear_user" type="text" class="validate" placeholder="Busar Usuario" name="Busar_Usuario"><a class="btn-floating btn-large waves-effect waves-light color-back"><i class="material-icons"><span class="material-symbols-outlined">search</span></i></a>
        
        </div>
        

    </div>
    
    <div class="contenedor">
        <div class="filter"></div>
        <div class="caja">
            <h3>Nombre de usuario</h3>
            <div>
                <ul>
                    <li>Nombre: xxxxxx</li>
                    <li>Apellido: xxxxx</li>
                    <li>Email: xxxxx@xxxx.com</li>
                    <li>Cargo: cccc</li>
                </ul>
                <a class="waves-effect waves-light btn-large color-back">Ver</a>
                <a class="waves-effect waves-light btn-large color-back">Editar</a>
            </div>
        </div>
        <div class="caja">
            <h3>Nombre de usuario</h3>
            <div>
                <ul>
                    <li>Nombre: xxxxxx</li>
                    <li>Apellido: xxxxx</li>
                    <li>Email: xxxxx@xxxx.com</li>
                    <li>Cargo: cccc</li>
                  </ul>
                  <a class="waves-effect waves-light btn-large color-back">Ver</a>
                  <a class="waves-effect waves-light btn-large color-back">Editar</a>
            </div>
        </div>
        <div class="caja">
            <h3>Nombre de usuario</h3>
            <div>
                <ul>
                    <li>Nombre: xxxxxx</li>
                    <li>Apellido: xxxxx</li>
                    <li>Email: xxxxx@xxxx.com</li>
                    <li>Cargo: cccc</li>
                  </ul>
                  <a class="waves-effect waves-light btn-large color-back">Ver</a>
                  <a class="waves-effect waves-light btn-large color-back">Editar</a>
            </div>
        </div>

        <div class="ver-mas">
            <a href="#">
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </a>

        </div>
        
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
