<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/escritorio.css"
</head>
<body>
    <div class="text">
        <p>Bienvenido, {{ current_user.nombreCompleto }}</p>
    </div>
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar sesion</a>

    <div class="contenedor">
        <div class="filter"></div>
        <div class="caja">
            <h3>Titutlo de la nota</h3>
            <p>La descripción debe ser breve y sera igual visto por el administrador</p>
            <div class="hora">DD/MM/AAAA</div>
        </div>
        <div class="caja">
            <h3>Titutlo de la nota</h3>
            <p>La descripción debe ser breve y sera igual visto por el administrador</p>
            <div class="hora">DD/MM/AAAA</div>
        </div>
        <div class="caja">
            <h3>Titutlo de la nota</h3>
            <p>La descripción debe ser breve y sera igual visto por el administrador</p>
            <div class="hora">DD/MM/AAAA</div>
        </div>
        
    </div>
    <div class="navbtn">
        <a class="btn-floating btn-large waves-effect waves-light color-back"><i class="material-icons">+</i></a>
        <div class="opciones">
            <a class="waves-effect waves-light btn-large color-back">Inicio</a>
            <a class="waves-effect waves-light btn-large color-back">Agregar</a>
            <a class="waves-effect waves-light btn-large color-back">usuario</a>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
