<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/css/escritorio.css">
</head>
<body>
    <div class="text">
        <p>Bienvenido, {{ current_user.nombreCompleto }}</p>
        <div class="navbtn">
            <a class="btn-floating btn-large waves-effect waves-light color-back"><i class="material-icons">+</i></a>
            <div class="opciones">
                <a class="waves-effect waves-light btn-large color-back" href="{{ url_for('inicio') }}">Inicio</a>
                <a class="waves-effect waves-light btn-large color-back">Agregar</a>
                <a class="waves-effect waves-light btn-large color-back">usuario</a>
                <a class="waves-effect waves-light btn-large color-back" href="{{ url_for('logout') }}">Cerrar</a>
            </div>
        </div>
    </div>


    {% if current_user.usuario == user %}
    <h1 style="text-align: center;">Tu Agendapp</h1>
    {% else %}
    <h1 style="text-align: center;">Agendapp de {{user}}</h1>
    {% endif %}

    <div class="contenedor">
        <div class="filter"></div>

        {% for nu in range(pagina[0]*3) %}
            {% if pagina[1] > nu %}
                {% if tareas[nu].13 != "Completa" %}
                <div class="caja">
                    <a href="task/{{tareas.4}}">
                        <h3>{{  tareas[nu].10 }}</h3>
                        <p>{{ tareas[nu].11 }}</p>
                        <div class="hora">{{ tareas[nu].7 }} {{tareas[nu].8}}</div>
                    </a>
                </div>
                {% else %}
                <div class="ter caja">
                    <a href="task/{{tareas.4}}">
                        <h3>{{  tareas[nu].10 }}</h3>
                        <p>{{ tareas[nu].11 }}</p>
                        <div class="hora">{{ tareas[nu].7 }}</div>
                    </a>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        <div class="ver-mas">
            <a href="/dashBoard/{{pagina[0]+1}}#{{pagina[0]*3}}">
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    expand_less
                </span>
            </a>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
